In [4]:
import pandas as pd

path = "/home/kril/"

In [28]:
#df_arrets = pd.read_csv("/home/kril/arrets.csv", sep=";")

df_arrets = pd.read_csv(path +"arrets.csv",sep= ';')#, usecols=['ArRName', 'ArRType','ArRTown', 'ArRPostalRegion', 'ArRGeopoint'])
df_arrets.head()

,ArRId,ArRVersion,ArRCreated,ArRChanged,ArRName,ArRType,ArRXEpsg2154,ArRYEpsg2154,ArRTown,ArRPostalRegion,ArRAccessibility,ArRAudibleSignals,ArRVisualSigns,ArRFareZone,ZdAId,ArRGeopoint
0,416536,1560306-666678,2015-05-12T21:54:56+02:00,2024-03-18T14:06:12+01:00,Danton,bus,663627,6864257,Villemomble,93077,true,unknown,unknown,4,416537,"48.87730658824716, 2.5040773635824065"
1,26101,1560284-50532,2014-12-29T00:00:00+01:00,2024-03-18T14:02:27+01:00,Les Marnaudes,bus,662648,6864947,Rosny-sous-Bois,93064,true,unknown,unknown,3,50532,"48.883455601792264, 2.49066900723223"
2,19887,1560270-50199,2014-12-29T15:31:51+01:00,2024-03-18T13:56:59+01:00,Van Derheyden,bus,662187,6864289,Rosny-sous-Bois,93064,true,unknown,unknown,3,50199,"48.8775114178925, 2.484441581523692"
3,491060,1560228-1351703,2024-03-11T10:30:14+01:00,2024-03-18T13:34:14+01:00,Jaurès,bus,653795,6864854,Paris 10e,75110,true,unknown,unknown,1,482875,"48.88204488847276, 2.3699644586317605"
4,491062,1560222-1026892,2024-03-11T10:30:17+01:00,2024-03-18T13:31:11+01:00,Belleville,bus,654270,6863751,Paris 10e,75110,true,unknown,unknown,1,463356,"48.872159779960406, 2.376559870538218"

In [41]:

def nb_bus_station(nb_arrondissement):
    df = InArrondissement(nb_arrondissement)
    nb_station = df[df["ArRType"].str.strip()== 'metro']["ArRName"].count()
    return nb_station

nb_bus_station(10)

np.int64(42)

In [23]:
InParis()["ArRType"].value_counts()

ArRType
bus      2872
metro     654
rail      285
tram      124
Name: count, dtype: int64

In [24]:
mask = InParis()["ArRType"].str.strip() == 'rail'

InParis().loc[mask]

,ArRName,ArRType,ArRTown,ArRPostalRegion,ArRAccessibility,ArRFareZone,ArRGeopoint
3969,Nation,rail,Paris 12e,75112,unknown,1,"48.84817470172562, 2.3959383298941117"
3971,Port Royal,rail,Paris 5e,75105,unknown,1,"48.84008414997715, 2.3371858353371793"
3973,Saint-Michel Notre-Dame,rail,Paris 5e,75105,unknown,1,"48.85258146118615, 2.3446587044395932"
3975,Charles de Gaulle - Etoile,rail,Paris 17e,75117,unknown,1,"48.87419944708082, 2.295181727350856"
3977,Luxembourg,rail,Paris 6e,75106,unknown,1,"48.84550363766169, 2.339774062692854"
...,...,...,...,...,...,...,...
38341,Paris Montparnasse,rail,Paris 14e,75114,unknown,1,"48.83845937603562, 2.3185271647565626"
38342,Paris Montparnasse,rail,Paris 14e,75114,unknown,1,"48.83879893692997, 2.3181412333485434"
38343,Paris Montparnasse,rail,Paris 15e,75115,unknown,1,"48.8396474630002, 2.3186887548205246"
38344,Paris Montparnasse,rail,Paris 14e,75114,unknown,1,"48.83826997924859, 2.3184342690370583"
38348,Champ de Mars Tour Eiffel,rail,Paris 15e,75115,partial,NaN,"48.856449431155, 2.289630178364846"

In [17]:
df_arrets.head()

,ArRId,ArRVersion,ArRCreated,ArRChanged,ArRName,ArRType,ArRXEpsg2154,ArRYEpsg2154,ArRTown,ArRPostalRegion,ArRAccessibility,ArRAudibleSignals,ArRVisualSigns,ArRFareZone,ZdAId,ArRGeopoint
0,416536,1560306-666678,2015-05-12T21:54:56+02:00,2024-03-18T14:06:12+01:00,Danton,bus,663627,6864257,Villemomble,93077,true,unknown,unknown,4,416537,"48.87730658824716, 2.5040773635824065"
1,26101,1560284-50532,2014-12-29T00:00:00+01:00,2024-03-18T14:02:27+01:00,Les Marnaudes,bus,662648,6864947,Rosny-sous-Bois,93064,true,unknown,unknown,3,50532,"48.883455601792264, 2.49066900723223"
2,19887,1560270-50199,2014-12-29T15:31:51+01:00,2024-03-18T13:56:59+01:00,Van Derheyden,bus,662187,6864289,Rosny-sous-Bois,93064,true,unknown,unknown,3,50199,"48.8775114178925, 2.484441581523692"
3,491060,1560228-1351703,2024-03-11T10:30:14+01:00,2024-03-18T13:34:14+01:00,Jaurès,bus,653795,6864854,Paris 10e,75110,true,unknown,unknown,1,482875,"48.88204488847276, 2.3699644586317605"
4,491062,1560222-1026892,2024-03-11T10:30:17+01:00,2024-03-18T13:31:11+01:00,Belleville,bus,654270,6863751,Paris 10e,75110,true,unknown,unknown,1,463356,"48.872159779960406, 2.376559870538218"

In [ ]:
#df["col"].astype(str).str.match(r"^75")

path = "/home/kril/"


def ArretInParis():
    df_arrets = pd.read_csv(path +"arrets.csv",
                            sep= ';',
                              usecols=['ArRName', 'ArRType','ArRTown', 'ArRPostalRegion', 'ArRGeopoint'])
    df_arrets_Paris = df_arrets[df_arrets['ArRPostalRegion'].astype(str).str.match(r"^75")]
    return df_arrets_Paris

ArretInParis()

,ArRName,ArRType,ArRTown,ArRPostalRegion,ArRGeopoint
3,Jaurès,bus,Paris 10e,75110,"48.88204488847276, 2.3699644586317605"
4,Belleville,bus,Paris 10e,75110,"48.872159779960406, 2.376559870538218"
5,Buttes Chaumont,bus,Paris 19e,75119,"48.87818370795948, 2.3814508727646464"
9,Gare de l'Est,bus,Paris 10e,75110,"48.87627119990737, 2.358117798562965"
15,Botzaris,bus,Paris 19e,75119,"48.8794629406532, 2.388880525771055"
...,...,...,...,...,...
38341,Paris Montparnasse,rail,Paris 14e,75114,"48.83845937603562, 2.3185271647565626"
38342,Paris Montparnasse,rail,Paris 14e,75114,"48.83879893692997, 2.3181412333485434"
38343,Paris Montparnasse,rail,Paris 15e,75115,"48.8396474630002, 2.3186887548205246"
38344,Paris Montparnasse,rail,Paris 14e,75114,"48.83826997924859, 2.3184342690370583"
38348,Champ de Mars Tour Eiffel,rail,Paris 15e,75115,"48.856449431155, 2.289630178364846"

In [33]:
import pandas as pd

def InArrondissement(nb_arrondissement):
    df_arrets = pd.read_csv(
        path + "arrets.csv",
        sep=';',
        usecols=[
            'ArRName', 'ArRType', 'ArRTown',
            'ArRPostalRegion', 'ArRAccessibility',
            'ArRFareZone', 'ArRGeopoint'
        ]
    )

    # Sécurisation + extraction de l’arrondissement
    mask = (
        df_arrets["ArRPostalRegion"]
        .astype(str)
        .str.match(r"^75") &
        (df_arrets["ArRPostalRegion"].astype(str).str[-2:].astype(int) == nb_arrondissement)
    )

    return df_arrets.loc[mask]

InArrondissement(1)

,ArRName,ArRType,ArRTown,ArRPostalRegion,ArRAccessibility,ArRFareZone,ArRGeopoint
1403,Louvre - Rivoli,metro,Paris 1er,75101,false,1,"48.86078090877333, 2.3409026134809903"
3394,Palais Royal - Musée du Louvre,bus,Paris 1er,75101,false,1,"48.86245448525912, 2.337787234864772"
3420,Saint-Honoré - Valois,bus,Paris 1er,75101,true,1,"48.862314670108496, 2.338525076741994"
3712,Châtelet,bus,Paris 1er,75101,true,1,"48.85734803031973, 2.346302440859627"
4022,Palais Royal - Comédie Française,bus,Paris 1er,75101,true,NaN,"48.863768492221354, 2.3347171408113234"
...,...,...,...,...,...,...,...
37034,Rivoli - Châtelet,bus,Paris 1er,75101,true,1,"48.85904159571699, 2.3468127604986"
37168,Louvre - Rivoli,bus,Paris 1er,75101,true,1,"48.8611288518487, 2.3403938826697868"
37186,Pont Royal,bus,Paris 1er,75101,true,1,"48.86051025028805, 2.331024027615045"
37189,Pont des Arts,bus,Paris 1er,75101,true,1,"48.85904081689186, 2.3384848619994787"
37246,Rivoli - Pont Neuf,bus,Paris 1er,75101,true,1,"48.85979339580887, 2.3444998385272164"

In [27]:
InArrondissement(12)[["ArRName","ArRType"]].value_counts()

ArRName                                                 ArRType
Paris Gare de Lyon                                      rail       26
Château de Vincennes                                    bus        14
Daumesnil - Félix Eboue                                 bus         6
Paris Bercy Bourgogne - Pays d'Auvergne                 rail        6
Gare de Lyon - Diderot                                  bus         5
                                                                   ..
Ministère de l'Economie et des Finances                 bus         1
Ministère de l'Economie et des Finances / Gare de Lyon  bus         1
Nation - Saint-Antoine                                  bus         1
Parc Zoologique                                         bus         1
Wattignies - Gravelle                                   bus         1
Name: count, Length: 143, dtype: int64

In [ ]:
def nb_bus_station():